{% extends "partials/base.html" %}

{% block title %}
	About
{% endblock title%}

{% block content %}

	<h1 class="page-title">
		Despre Valera
	</h1>

	<div class="about">
			<div class="row">
				<div class="column column-50">
					<div class="about-image">
						<img src="https://picsum.photos/600/600?image=786">
					</div>
				</div>
				<div class="column column-50">
					<div class="about-wrapper">
						<h4>About me</h4>
						<p class="about-name">
							Tudor Plugaru
						</p>
						<p class="about-description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nobis blanditiis iure. Libero reprehenderit quae et consectetur, expedita suscipit eos natus est repellendus ipsa recusandae, incidunt alias eum at sed iste ea! Maiores sint explicabo id, vero libero ab praesentium.
						</p>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}
